@font-face {
  font-family: 'uxicon';
  src:  url('fonts/uxicon.eot?3rmk26');
  src:  url('fonts/uxicon.eot?3rmk26#iefix') format('embedded-opentype'),
    url('fonts/uxicon.ttf?3rmk26') format('truetype'),
    url('fonts/uxicon.woff?3rmk26') format('woff'),
    url('fonts/uxicon.svg?3rmk26#uxicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'uxicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_uni21:before {
  content: "\21";
}
.icon_uni22:before {
  content: "\22";
}
.icon_uni23:before {
  content: "\23";
}
.icon_uni24:before {
  content: "\24";
}
.icon_uni25:before {
  content: "\25";
}
.icon_uni26:before {
  content: "\26";
}
.icon_uni27:before {
  content: "\27";
}
.icon_uni28:before {
  content: "\28";
}
.icon_uni29:before {
  content: "\29";
}
.icon_uni2A:before {
  content: "\2a";
}
.icon_uni2B:before {
  content: "\2b";
}
.icon_uni2C:before {
  content: "\2c";
}
.icon_uni2D:before {
  content: "\2d";
}
.icon_uni2E:before {
  content: "\2e";
}
.icon_uni2F:before {
  content: "\2f";
}
.icon_uni30:before {
  content: "\30";
}
.icon_uni31:before {
  content: "\31";
}
.icon_uni32:before {
  content: "\32";
}
.icon_uni33:before {
  content: "\33";
}
.icon_uni34:before {
  content: "\34";
}
.icon_uni35:before {
  content: "\35";
}
.icon_uni36:before {
  content: "\36";
}
.icon_uni37:before {
  content: "\37";
}
.icon_uni38:before {
  content: "\38";
}
.icon_uni39:before {
  content: "\39";
}
.icon_uni3A:before {
  content: "\3a";
}
.icon_uni3B:before {
  content: "\3b";
}
.icon_uni3C:before {
  content: "\3c";
}
.icon_uni3D:before {
  content: "\3d";
}
.icon_uni3E:before {
  content: "\3e";
}
.icon_uni3F:before {
  content: "\3f";
}
.icon_uni40:before {
  content: "\40";
}
.icon_uni41:before {
  content: "\41";
}
.icon_uni42:before {
  content: "\42";
}
.icon_uni43:before {
  content: "\43";
}
.icon_uni44:before {
  content: "\44";
}
.icon_uni45:before {
  content: "\45";
}
.icon_uni46:before {
  content: "\46";
}
.icon_uni47:before {
  content: "\47";
}
.icon_uni48:before {
  content: "\48";
}
.icon_uni49:before {
  content: "\49";
}
.icon_uni4A:before {
  content: "\4a";
}
.icon_uni4B:before {
  content: "\4b";
}
.icon_uni4C:before {
  content: "\4c";
}
.icon_uni4D:before {
  content: "\4d";
}
.icon_uni4E:before {
  content: "\4e";
}
.icon_uni4F:before {
  content: "\4f";
}
.icon_uni50:before {
  content: "\50";
}
.icon_uni51:before {
  content: "\51";
}
.icon_uni52:before {
  content: "\52";
}
.icon_uni53:before {
  content: "\53";
}
.icon_uni54:before {
  content: "\54";
}
.icon_uni55:before {
  content: "\55";
}
.icon_uni56:before {
  content: "\56";
}
.icon_uni57:before {
  content: "\57";
}
.icon_uni58:before {
  content: "\58";
}
.icon_uni59:before {
  content: "\59";
}
.icon_uni5A:before {
  content: "\5a";
}
.icon_uni5B:before {
  content: "\5b";
}
.icon_uni5C:before {
  content: "\5c";
}
.icon_uni5D:before {
  content: "\5d";
}
.icon_uni5E:before {
  content: "\5e";
}
.icon_uni5F:before {
  content: "\5f";
}
.icon_uni60:before {
  content: "\60";
}
.icon_uni61:before {
  content: "\61";
}
.icon_uni62:before {
  content: "\62";
}
.icon_uni63:before {
  content: "\63";
}
.icon_uni64:before {
  content: "\64";
}
.icon_uni65:before {
  content: "\65";
}
.icon_uni66:before {
  content: "\66";
}
.icon_uni67:before {
  content: "\67";
}
.icon_uni68:before {
  content: "\68";
}
.icon_uni69:before {
  content: "\69";
}
.icon_uni6A:before {
  content: "\6a";
}
.icon_uni6B:before {
  content: "\6b";
}
.icon_uni6C:before {
  content: "\6c";
}
.icon_uni6D:before {
  content: "\6d";
}
.icon_uni6E:before {
  content: "\6e";
}
.icon_uni6F:before {
  content: "\6f";
}
.icon_uni70:before {
  content: "\70";
}
.icon_uni71:before {
  content: "\71";
}
.icon_uni72:before {
  content: "\72";
}
.icon_uni73:before {
  content: "\73";
}
.icon_uni74:before {
  content: "\74";
}
.icon_uni75:before {
  content: "\75";
}
.icon_uni76:before {
  content: "\76";
}
.icon_uni77:before {
  content: "\77";
}
.icon_uni78:before {
  content: "\78";
}
.icon_uni79:before {
  content: "\79";
}
.icon_uni7A:before {
  content: "\7a";
}
.icon_uni7B:before {
  content: "\7b";
}
.icon_uni7C:before {
  content: "\7c";
}
.icon_uni7D:before {
  content: "\7d";
}
.icon_uni7E:before {
  content: "\7e";
}
.icon_uniA9:before {
  content: "\a9";
}
.icon_ac-unit:before {
  content: "\e900";
}
.icon_ac_unit:before {
  content: "\e900";
}
.icon_accessibility:before {
  content: "\e901";
}
.icon_accessible:before {
  content: "\e902";
}
.icon_account:before {
  content: "\e903";
}
.icon_ad-tag:before {
  content: "\ea23";
}
.icon_ad_tag:before {
  content: "\ea23";
}
.icon_add-a-photo:before {
  content: "\e907";
}
.icon_add_a_photo:before {
  content: "\e907";
}
.icon_add-to-photos:before {
  content: "\e908";
}
.icon_add_to_photos:before {
  content: "\e908";
}
.icon_android:before {
  content: "\ea3f";
}
.icon_apple:before {
  content: "\ea61";
}
.icon_appliance-blender:before {
  content: "\e921";
}
.icon_appliance_blender:before {
  content: "\e921";
}
.icon_blender:before {
  content: "\e921";
}
.icon_appliance-grill:before {
  content: "\e972";
}
.icon_appliance_grill:before {
  content: "\e972";
}
.icon_grill:before {
  content: "\e972";
}
.icon_appliance-microwave:before {
  content: "\e998";
}
.icon_appliance_microwave:before {
  content: "\e998";
}
.icon_microwave:before {
  content: "\e998";
}
.icon_appliance-ordering-filled:before {
  content: "\e915";
}
.icon_appliance_ordering_filled:before {
  content: "\e915";
}
.icon_appliance-ordering-outlined:before {
  content: "\e9a1";
}
.icon_appliance_ordering_outlined:before {
  content: "\e9a1";
}
.icon_nav_appliance_ordering:before {
  content: "\e9a1";
}
.icon_appliance-oven:before {
  content: "\e9b9";
}
.icon_appliance_oven:before {
  content: "\e9b9";
}
.icon_oven:before {
  content: "\e9b9";
}
.icon_appliance-refrigerator:before {
  content: "\e9d9";
}
.icon_appliance_refrigerator:before {
  content: "\e9d9";
}
.icon_refrigerator:before {
  content: "\e9d9";
}
.icon_appliance-washing-machine:before {
  content: "\ea18";
}
.icon_appliance_washing_machine:before {
  content: "\ea18";
}
.icon_applications:before {
  content: "\e90a";
}
.icon_apron-filled:before {
  content: "\e989";
}
.icon_apron_filled:before {
  content: "\e989";
}
.icon_nav_myapron_outlined:before {
  content: "\e989";
}
.icon_apron-outlined:before {
  content: "\e9ae";
}
.icon_apron_outlined:before {
  content: "\e9ae";
}
.icon_nav_myapron:before {
  content: "\e9ae";
}
.icon_apron:before {
  content: "\e90b";
}
.icon_arrow-down:before {
  content: "\e90c";
}
.icon_arrow_down:before {
  content: "\e90c";
}
.icon_arrow-left:before {
  content: "\e90d";
}
.icon_arrow_left:before {
  content: "\e90d";
}
.icon_arrow-right:before {
  content: "\e90e";
}
.icon_arrow_right:before {
  content: "\e90e";
}
.icon_arrow-sub-left:before {
  content: "\e90f";
}
.icon_arrow_sub_left:before {
  content: "\e90f";
}
.icon_arrow-sub-right:before {
  content: "\e910";
}
.icon_arrow_sub_right:before {
  content: "\e910";
}
.icon_arrow-up:before {
  content: "\e911";
}
.icon_arrow_up:before {
  content: "\e911";
}
.icon_assignment-returned:before {
  content: "\e98a";
}
.icon_assignment_returned:before {
  content: "\e98a";
}
.icon_assignment-turned-in:before {
  content: "\e9b8";
}
.icon_assignment_turned_in:before {
  content: "\e9b8";
}
.icon_assignment:before {
  content: "\e9c1";
}
.icon_attach-file:before {
  content: "\e912";
}
.icon_attach_file:before {
  content: "\e912";
}
.icon_ban:before {
  content: "\e913";
}
.icon_bank:before {
  content: "\e914";
}
.icon_barcode:before {
  content: "\e916";
}
.icon_battery-alert:before {
  content: "\e918";
}
.icon_battery_alert:before {
  content: "\e918";
}
.icon_battery-charging:before {
  content: "\e919";
}
.icon_battery_charging:before {
  content: "\e919";
}
.icon_battery-full:before {
  content: "\e91a";
}
.icon_battery-unknown:before {
  content: "\e91b";
}
.icon_battery_unknown:before {
  content: "\e91b";
}
.icon_bell-active:before {
  content: "\e91c";
}
.icon_bell_active:before {
  content: "\e91c";
}
.icon_bell-off:before {
  content: "\e91d";
}
.icon_bell_off:before {
  content: "\e91d";
}
.icon_bell:before {
  content: "\e91e";
}
.icon_benefits:before {
  content: "\e91f";
}
.icon_bluetooth-connected:before {
  content: "\e922";
}
.icon_bluetooth_connected:before {
  content: "\e922";
}
.icon_bluetooth-disabled:before {
  content: "\e923";
}
.icon_bluetooth_disabled:before {
  content: "\e923";
}
.icon_bluetooth-search:before {
  content: "\e924";
}
.icon_bluetooth_search:before {
  content: "\e924";
}
.icon_bluetooth:before {
  content: "\e925";
}
.icon_bopis:before {
  content: "\e927";
}
.icon_breifcase:before {
  content: "\ea37";
}
.icon_bug:before {
  content: "\e928";
}
.icon_building-corporate-1:before {
  content: "\e92a";
}
.icon_building_corporate_1:before {
  content: "\e92a";
}
.icon_building-1:before {
  content: "\e92a";
}
.icon_building_1:before {
  content: "\e92a";
}
.icon_building-corporate-2:before {
  content: "\e929";
}
.icon_building_corporate_2:before {
  content: "\e929";
}
.icon_building-2:before {
  content: "\e929";
}
.icon_building_2:before {
  content: "\e929";
}
.icon_building-shop:before {
  content: "\e92b";
}
.icon_building-3:before {
  content: "\e92b";
}
.icon_building_3:before {
  content: "\e92b";
}
.icon_bulk-price:before {
  content: "\ea24";
}
.icon_bulk_price:before {
  content: "\ea24";
}
.icon_bullet-filled:before {
  content: "\e9c2";
}
.icon_bullet_filled:before {
  content: "\e9c2";
}
.icon_bullet-outlined:before {
  content: "\e9d6";
}
.icon_bullet_outlined:before {
  content: "\e9d6";
}
.icon_cabinets:before {
  content: "\e909";
}
.icon_calculator:before {
  content: "\e92c";
}
.icon_calendar-date-available:before {
  content: "\e94d";
}
.icon_calendar_date_available:before {
  content: "\e94d";
}
.icon_date-available:before {
  content: "\e94d";
}
.icon_date_available:before {
  content: "\e94d";
}
.icon_calendar-date-note:before {
  content: "\e94e";
}
.icon_calendar_date_note:before {
  content: "\e94e";
}
.icon_date-note:before {
  content: "\e94e";
}
.icon_date_note:before {
  content: "\e94e";
}
.icon_calendar-date-range:before {
  content: "\e94f";
}
.icon_calendar_date_range:before {
  content: "\e94f";
}
.icon_date-range:before {
  content: "\e94f";
}
.icon_date_range:before {
  content: "\e94f";
}
.icon_calendar-date:before {
  content: "\e950";
}
.icon_calendar_date:before {
  content: "\e950";
}
.icon_date:before {
  content: "\e950";
}
.icon_camera-off:before {
  content: "\e92d";
}
.icon_camera_off:before {
  content: "\e92d";
}
.icon_camera:before {
  content: "\e92e";
}
.icon_caret-down:before {
  content: "\e930";
}
.icon_caret_down:before {
  content: "\e930";
}
.icon_caret-left:before {
  content: "\e931";
}
.icon_caret_left:before {
  content: "\e931";
}
.icon_caret-right:before {
  content: "\e932";
}
.icon_caret_right:before {
  content: "\e932";
}
.icon_caret-up:before {
  content: "\e933";
}
.icon_caret_up:before {
  content: "\e933";
}
.icon_chart-bar-1-filled:before {
  content: "\ea29";
}
.icon_chart_bar_1_filled:before {
  content: "\ea29";
}
.icon_chart-bar-1-outlined:before {
  content: "\ea2b";
}
.icon_chart_bar_1_outlined:before {
  content: "\ea2b";
}
.icon_growth-chart:before {
  content: "\e973";
}
.icon_growth_chart:before {
  content: "\e973";
}
.icon_chart-pie-filled:before {
  content: "\e9cb";
}
.icon_chart_pie_filled:before {
  content: "\e9cb";
}
.icon_pie-chart:before {
  content: "\e9cb";
}
.icon_pie_chart:before {
  content: "\e9cb";
}
.icon_chart-pie-outlined:before {
  content: "\e9cc";
}
.icon_chart_pie_outlined:before {
  content: "\e9cc";
}
.icon_pie-chart-outline:before {
  content: "\e9cc";
}
.icon_pie_chart_outline:before {
  content: "\e9cc";
}
.icon_chart-timeline:before {
  content: "\ea01";
}
.icon_chart_timeline:before {
  content: "\ea01";
}
.icon_timeline:before {
  content: "\ea01";
}
.icon_chat:before {
  content: "\e936";
}
.icon_check-box-filled:before {
  content: "\e9fa";
}
.icon_check-box-outlined:before {
  content: "\ea17";
}
.icon_check-circle-filled:before {
  content: "\e937";
}
.icon_check_circle_filled:before {
  content: "\e937";
}
.icon_check-circle-full:before {
  content: "\e937";
}
.icon_check_circle_full:before {
  content: "\e937";
}
.icon_check-circle-outlined:before {
  content: "\e938";
}
.icon_check_circle_outlined:before {
  content: "\e938";
}
.icon_check_circle_outline:before {
  content: "\e938";
}
.icon_check:before {
  content: "\e939";
}
.icon_chevron-down:before {
  content: "\e93a";
}
.icon_chevron_down:before {
  content: "\e93a";
}
.icon_chevron-left:before {
  content: "\e93b";
}
.icon_chevron_left:before {
  content: "\e93b";
}
.icon_chevron-right:before {
  content: "\e93c";
}
.icon_chevron_right:before {
  content: "\e93c";
}
.icon_chevron-up:before {
  content: "\e93d";
}
.icon_chevron_up:before {
  content: "\e93d";
}
.icon_claims-intake:before {
  content: "\ea21";
}
.icon_claims_intake:before {
  content: "\ea21";
}
.icon_chrome:before {
  content: "\ea62";
}
.icon_close:before {
  content: "\e93f";
}
.icon_cloud-complete:before {
  content: "\e941";
}
.icon_cloud_done:before {
  content: "\e941";
}
.icon_cloud-download:before {
  content: "\e942";
}
.icon_cloud_download:before {
  content: "\e942";
}
.icon_cloud-upload:before {
  content: "\e943";
}
.icon_cloud_upload:before {
  content: "\e943";
}
.icon_cloud:before {
  content: "\e944";
}
.icon_code-1:before {
  content: "\ea31";
}
.icon_code-2:before {
  content: "\e946";
}
.icon_cog:before {
  content: "\e9e9";
}
.icon_compare:before {
  content: "\e947";
}
.icon_compass:before {
  content: "\e948";
}
.icon_computer-mouse:before {
  content: "\e99f";
}
.icon_mouse:before {
  content: "\e99f";
}
.icon_connected-services-filled:before {
  content: "\ea2f";
}
.icon_connected_services_filled:before {
  content: "\ea2f";
}
.icon_connected-services-outlined:before {
  content: "\e9a2";
}
.icon_connected_services_outlined:before {
  content: "\e9a2";
}
.icon_nav_connected_services:before {
  content: "\e9a2";
}
.icon_controls-closed-caption:before {
  content: "\e940";
}
.icon_controls-fast-forward:before {
  content: "\e965";
}
.icon_fast_forward:before {
  content: "\e965";
}
.icon_controls-fast-rewind:before {
  content: "\e966";
}
.icon_fast_rewind:before {
  content: "\e966";
}
.icon_controls-pause:before {
  content: "\e9bf";
}
.icon_pause:before {
  content: "\e9bf";
}
.icon_controls-play:before {
  content: "\e9ce";
}
.icon_play:before {
  content: "\e9ce";
}
.icon_controls-stop:before {
  content: "\e9f6";
}
.icon_stop:before {
  content: "\e9f6";
}
.icon_copy:before {
  content: "\e94a";
}
.icon_counter-top:before {
  content: "\e976";
}
.icon_coupon:before {
  content: "\e9c0";
}
.icon_credit-card-services-filled:before {
  content: "\ea38";
}
.icon_credit_card_services_filled:before {
  content: "\ea38";
}
.icon_credit-card-services-outlined:before {
  content: "\e9a3";
}
.icon_credit_card_services_outlined:before {
  content: "\e9a3";
}
.icon_nav_credit_card_services:before {
  content: "\e9a3";
}
.icon_dashboard-circle-filled:before {
  content: "\ea3b";
}
.icon_dashboard_circle_filled:before {
  content: "\ea3b";
}
.icon_dashboard-circle-outlined:before {
  content: "\e9a4";
}
.icon_dashboard_circle_outlined:before {
  content: "\e9a4";
}
.icon_nav_dashboard:before {
  content: "\e9a4";
}
.icon_dashboard:before {
  content: "\e94c";
}
.icon_delivery-tracks:before {
  content: "\e9a5";
}
.icon_delivery_tracks:before {
  content: "\e9a5";
}
.icon_nav_delivery_tracks:before {
  content: "\e9a5";
}
.icon_design-filled:before {
  content: "\ea39";
}
.icon_design-outlined:before {
  content: "\ea3a";
}
.icon_design:before {
  content: "\ea26";
}
.icon_desktop-apple:before {
  content: "\e952";
}
.icon_desktop_mac:before {
  content: "\e952";
}
.icon_desktop-windows:before {
  content: "\e953";
}
.icon_desktop_windows:before {
  content: "\e953";
}
.icon_devices-other:before {
  content: "\e954";
}
.icon_devices_other:before {
  content: "\e954";
}
.icon_devices:before {
  content: "\e955";
}
.icon_directions:before {
  content: "\e956";
}
.icon_drag-handle:before {
  content: "\e95b";
}
.icon_drag_handle:before {
  content: "\e95b";
}
.icon_email-filled:before {
  content: "\e993";
}
.icon_mail:before {
  content: "\e993";
}
.icon_email-outlined:before {
  content: "\ea3d";
}
.icon_email_outlined:before {
  content: "\ea3d";
}
.icon_email-circle-filled:before {
  content: "\ea3e";
}
.icon_email_circle_filled:before {
  content: "\ea3e";
}
.icon_email-circle-outlined:before {
  content: "\e9a6";
}
.icon_nav_email:before {
  content: "\e9a6";
}
.icon_enterprise-ux:before {
  content: "\e960";
}
.icon_eux:before {
  content: "\e960";
}
.icon_error-filled:before {
  content: "\e95e";
}
.icon_error_full:before {
  content: "\e95e";
}
.icon_error-outlined:before {
  content: "\e95f";
}
.icon_error_outline:before {
  content: "\e95f";
}
.icon_exit-to-app:before {
  content: "\e962";
}
.icon_exit_to_app:before {
  content: "\e962";
}
.icon_extension:before {
  content: "\e963";
}
.icon_faucet-sink:before {
  content: "\e964";
}
.icon_faucet_sink:before {
  content: "\e964";
}
.icon_faucet-shower:before {
  content: "\e9ee";
}
.icon_shower:before {
  content: "\e9ee";
}
.icon_file-download:before {
  content: "\e967";
}
.icon_file_download:before {
  content: "\e967";
}
.icon_file-upload:before {
  content: "\e968";
}
.icon_file_upload:before {
  content: "\e968";
}
.icon_filter-list:before {
  content: "\ea1e";
}
.icon_filter_list:before {
  content: "\ea1e";
}
.icon_filter:before {
  content: "\ea1e";
}
.icon_finger-print:before {
  content: "\e969";
}
.icon_finger_print:before {
  content: "\e969";
}
.icon_flag:before {
  content: "\e96a";
}
.icon_firefox:before {
  content: "\ea63";
}
.icon_folder-add:before {
  content: "\e905";
}
.icon_add_folder:before {
  content: "\e905";
}
.icon_folder:before {
  content: "\e96b";
}
.icon_folder-shared:before {
  content: "\e9ea";
}
.icon_shared_folder:before {
  content: "\e9ea";
}
.icon_free-shipping:before {
  content: "\e96c";
}
.icon_free_shipping:before {
  content: "\e96c";
}
.icon_fuel-ev-station:before {
  content: "\e961";
}
.icon_ev_station:before {
  content: "\e961";
}
.icon_fuel-rewards-filled:before {
  content: "\ea40";
}
.icon_fuel_rewards_filled:before {
  content: "\ea40";
}
.icon_fuel-rewards-outlined:before {
  content: "\e9a8";
}
.icon_fuel_rewards_outlined:before {
  content: "\e9a8";
}
.icon_nav_fuel_rewards:before {
  content: "\e9a8";
}
.icon_fuel-rewards:before {
  content: "\e96d";
}
.icon_fuel_rewards:before {
  content: "\e96d";
}
.icon_fuel:before {
  content: "\e96e";
}
.icon_full-screen-exit:before {
  content: "\ea41";
}
.icon_full_screen_exit:before {
  content: "\ea41";
}
.icon_full-screen:before {
  content: "\ea42";
}
.icon_full_screen:before {
  content: "\ea42";
}
.icon_git:before {
  content: "\ea64";
}
.icon_growth-filled:before {
  content: "\ea44";
}
.icon_growth_filled:before {
  content: "\ea44";
}
.icon_growth-outlined:before {
  content: "\e9ac";
}
.icon_nav_my_numbers:before {
  content: "\e9ac";
}
.icon_hazard-electrical:before {
  content: "\ea7b";
}
.icon_hazard-explosion:before {
  content: "\ea7c";
}
.icon_hazard-falling:before {
  content: "\ea7d";
}
.icon_hazard-fire:before {
  content: "\ea7e";
}
.icon_hd-store-filled:before {
  content: "\ea81";
}
.icon_hd-store-outlined:before {
  content: "\ea82";
}
.icon_heart-rate:before {
  content: "\e945";
}
.icon_heart_rate:before {
  content: "\e945";
}
.icon_heart:before {
  content: "\e977";
}
.icon_heat-map-filled:before {
  content: "\ea45";
}
.icon_heat_map_filled:before {
  content: "\ea45";
}
.icon_heat-map-outlined:before {
  content: "\e9ab";
}
.icon_heat_map_outlined:before {
  content: "\e9ab";
}
.icon_nav_heatmap:before {
  content: "\e9ab";
}
.icon_help-full-filled:before {
  content: "\e978";
}
.icon_help_full_filled:before {
  content: "\e978";
}
.icon_help_full:before {
  content: "\e978";
}
.icon_help-outlined:before {
  content: "\e979";
}
.icon_help_outlined:before {
  content: "\e979";
}
.icon_hightlight-off-outlined:before {
  content: "\ea46";
}
.icon_hightlight_off_outlined:before {
  content: "\ea46";
}
.icon_hightlight-off:before {
  content: "\ea46";
}
.icon_home:before {
  content: "\e980";
}
.icon_homedepot-logo:before {
  content: "\e981";
}
.icon_homedepot:before {
  content: "\e981";
}
.icon_homedepot-online-filled:before {
  content: "\ea47";
}
.icon_homedepot_online_filled:before {
  content: "\ea47";
}
.icon_homedepot-online-outlined:before {
  content: "\e9aa";
}
.icon_homedepot_online_outlined:before {
  content: "\e9aa";
}
.icon_nav_hd_online:before {
  content: "\e9aa";
}
.icon_homedepot-online:before {
  content: "\e9ec";
}
.icon_homedepot_online:before {
  content: "\e9ec";
}
.icon_shop_homedepot:before {
  content: "\e9ec";
}
.icon_hour-glass-full:before {
  content: "\e9ef";
}
.icon_hour-glass-half:before {
  content: "\e9f7";
}
.icon_hour-glass:before {
  content: "\ea0f";
}
.icon_html5:before {
  content: "\ea65";
}
.icon_information-filled:before {
  content: "\e982";
}
.icon_information_filled:before {
  content: "\e982";
}
.icon_info_full:before {
  content: "\e982";
}
.icon_information-outlined:before {
  content: "\e983";
}
.icon_information_outlined:before {
  content: "\e983";
}
.icon_info_outline:before {
  content: "\e983";
}
.icon_internet-explorer:before {
  content: "\ea66";
}
.icon_keyboard-hide:before {
  content: "\e986";
}
.icon_keyboard_hide:before {
  content: "\e986";
}
.icon_keyboard:before {
  content: "\e987";
}
.icon_language:before {
  content: "\e988";
}
.icon_laptop-chrome:before {
  content: "\e93e";
}
.icon_chromebook:before {
  content: "\e93e";
}
.icon_laptop:before {
  content: "\e949";
}
.icon_computer:before {
  content: "\e949";
}
.icon_lightbulb-outlined:before {
  content: "\ea48";
}
.icon_lightbulb_outlined:before {
  content: "\ea48";
}
.icon_lightning-bolt:before {
  content: "\e926";
}
.icon_bolt:before {
  content: "\e926";
}
.icon_link:before {
  content: "\e98c";
}
.icon_local-offer:before {
  content: "\e98e";
}
.icon_local_offer:before {
  content: "\e98e";
}
.icon_location-add:before {
  content: "\ea49";
}
.icon_location_add:before {
  content: "\ea49";
}
.icon_add_location:before {
  content: "\ea49";
}
.icon_location:before {
  content: "\e98f";
}
.icon_lock-closed-filled:before {
  content: "\e992";
}
.icon_lock_closed_filled:before {
  content: "\e992";
}
.icon_lock:before {
  content: "\e992";
}
.icon_lock-closed-outlined:before {
  content: "\e991";
}
.icon_lock_closed_outlined:before {
  content: "\e991";
}
.icon_lock_outline:before {
  content: "\e991";
}
.icon_lock-open-outlined:before {
  content: "\e990";
}
.icon_lock_open_outlined:before {
  content: "\e990";
}
.icon_lock_open:before {
  content: "\e990";
}
.icon_loyalty:before {
  content: "\ea4a";
}
.icon_map:before {
  content: "\e994";
}
.icon_met-sku:before {
  content: "\ea27";
}
.icon_met_sku:before {
  content: "\ea27";
}
.icon_microphone-off:before {
  content: "\e996";
}
.icon_mic_off:before {
  content: "\e996";
}
.icon_microphone:before {
  content: "\e997";
}
.icon_mic:before {
  content: "\e997";
}
.icon_minus-circle-filled:before {
  content: "\e999";
}
.icon_minus_circle_full:before {
  content: "\e999";
}
.icon_minus-circle-outlined:before {
  content: "\e99a";
}
.icon_minus_circle_outline:before {
  content: "\e99a";
}
.icon_minus-square-filled:before {
  content: "\e98b";
}
.icon_minus_square_full:before {
  content: "\e98b";
}
.icon_minus-square-outlined:before {
  content: "\e9be";
}
.icon_minus_square:before {
  content: "\e9be";
}
.icon_minus:before {
  content: "\e99b";
}
.icon_mobile-android:before {
  content: "\e9c6";
}
.icon_phone_android:before {
  content: "\e9c6";
}
.icon_mobile-apple:before {
  content: "\e9c7";
}
.icon_mobile-error:before {
  content: "\ea4b";
}
.icon_mobile-lock:before {
  content: "\e9c8";
}
.icon_phone_lock:before {
  content: "\e9c8";
}
.icon_mobile-pending:before {
  content: "\ea4c";
}
.icon_mobile-sucess:before {
  content: "\ea4d";
}
.icon_mobile-settings:before {
  content: "\e99c";
}
.icon_mobile_settings:before {
  content: "\e99c";
}
.icon_more-horizontal:before {
  content: "\e99d";
}
.icon_more_horizontal:before {
  content: "\e99d";
}
.icon_more-vertical:before {
  content: "\e99e";
}
.icon_more_vertical:before {
  content: "\e99e";
}
.icon_navigation:before {
  content: "\e9b6";
}
.icon_new-lower-price:before {
  content: "\ea28";
}
.icon_new_lower_price:before {
  content: "\ea28";
}
.icon_note-add:before {
  content: "\ea4e";
}
.icon_note-list-check:before {
  content: "\ea2e";
}
.icon_check_list:before {
  content: "\ea2e";
}
.icon_note-list:before {
  content: "\ea36";
}
.icon_note_list:before {
  content: "\ea36";
}
.icon_note-pad:before {
  content: "\ea4f";
}
.icon_opera:before {
  content: "\ea67";
}
.icon_parking:before {
  content: "\e9bd";
}
.icon_payment-amex-1:before {
  content: "\ea1d";
}
.icon_payment-amex-2:before {
  content: "\ea1f";
}
.icon_payment-card:before {
  content: "\ea22";
}
.icon_payment-card-add:before {
  content: "\ea6c";
}
.icon_payment-card-credit:before {
  content: "\ea6d";
}
.icon_payment-card-homedepot-filled:before {
  content: "\ea6e";
}
.icon_payment-card-homedepot-outlined:before {
  content: "\ea6f";
}
.icon_payment-card-membership:before {
  content: "\ea70";
}
.icon_payment-card-reader:before {
  content: "\e920";
}
.icon_payment-cards:before {
  content: "\ea71";
}
.icon_payment-cash-dispenser:before {
  content: "\e92f";
}
.icon_payment-cash-register:before {
  content: "\e94b";
}
.icon_register:before {
  content: "\e94b";
}
.icon_payment-check:before {
  content: "\ea72";
}
.icon_payment-discover:before {
  content: "\e957";
}
.icon_payment-dollar-bill:before {
  content: "\e959";
}
.icon_payment_dollar_bill:before {
  content: "\e959";
}
.icon_payment-dollar-bills:before {
  content: "\e935";
}
.icon_cash:before {
  content: "\e935";
}
.icon_payment-dollar-symbol-filled:before {
  content: "\ea3c";
}
.icon_payment_dollar_symbol_filled:before {
  content: "\ea3c";
}
.icon_payment-dollar-symbol-outlined:before {
  content: "\e9b3";
}
.icon_payment_dollar_symbol_outlined:before {
  content: "\e9b3";
}
.icon_nav_spos:before {
  content: "\e9b3";
}
.icon_payment-dollar-symbol:before {
  content: "\e95a";
}
.icon_payment_dollar_symbol:before {
  content: "\e95a";
}
.icon_payment-gift-card-filled:before {
  content: "\ea43";
}
.icon_payment-gift-card-outlined:before {
  content: "\e9a9";
}
.icon_payment-gift-card:before {
  content: "\e970";
}
.icon_payment-mastercard:before {
  content: "\e995";
}
.icon_payment_mastercard:before {
  content: "\e995";
}
.icon_mastercard:before {
  content: "\e995";
}
.icon_payment-paypal-1:before {
  content: "\ea73";
}
.icon_payment-paypal-2:before {
  content: "\ea74";
}
.icon_payment-visa-debit:before {
  content: "\ea75";
}
.icon_payment-visa:before {
  content: "\ea76";
}
.icon_pencil:before {
  content: "\e95d";
}
.icon_edit:before {
  content: "\e95d";
}
.icon_pen-pad:before {
  content: "\ea77";
}
.icon_pending-filled:before {
  content: "\ea50";
}
.icon_pending-outlined:before {
  content: "\ea51";
}
.icon_people:before {
  content: "\e9c3";
}
.icon_person-add:before {
  content: "\e9c4";
}
.icon_person_add:before {
  content: "\e9c4";
}
.icon_person:before {
  content: "\e9c5";
}
.icon_phone:before {
  content: "\e9c9";
}
.icon_photo-insert:before {
  content: "\e985";
}
.icon_photo-library:before {
  content: "\e9ca";
}
.icon_photo_library:before {
  content: "\e9ca";
}
.icon_piggy-bank:before {
  content: "\e9cd";
}
.icon_piggy_bank:before {
  content: "\e9cd";
}
.icon_piping-1:before {
  content: "\ea78";
}
.icon_piping-2:before {
  content: "\ea79";
}
.icon_plug:before {
  content: "\e9cf";
}
.icon_plus-circle-filled:before {
  content: "\e9d0";
}
.icon_plus_circle_full:before {
  content: "\e9d0";
}
.icon_plus-circle-outlined:before {
  content: "\e9d1";
}
.icon_plus_circle_outline:before {
  content: "\e9d1";
}
.icon_plus-square-filled:before {
  content: "\ea32";
}
.icon_plus_square_full:before {
  content: "\ea32";
}
.icon_plus-square-filled2:before {
  content: "\ea33";
}
.icon_plus_square:before {
  content: "\ea33";
}
.icon_plus:before {
  content: "\e9d2";
}
.icon_print:before {
  content: "\e9d3";
}
.icon_pro-direct-filled:before {
  content: "\ea52";
}
.icon_pro-direct-outlined:before {
  content: "\e9af";
}
.icon_nav_pro_direct:before {
  content: "\e9af";
}
.icon_pro-direct:before {
  content: "\ea53";
}
.icon_pro-referral-filled:before {
  content: "\ea54";
}
.icon_pro-referral-outlined:before {
  content: "\ea35";
}
.icon_nav_pro_referral:before {
  content: "\ea35";
}
.icon_pro-xtra-filled:before {
  content: "\e9b1";
}
.icon_pro-xtra-outlined:before {
  content: "\ea55";
}
.icon_nav_proxtra:before {
  content: "\ea55";
}
.icon_qr-code:before {
  content: "\e9d5";
}
.icon_qr_code:before {
  content: "\e9d5";
}
.icon_quote-center-outlined:before {
  content: "\e9b2";
}
.icon_nav_quote_center:before {
  content: "\e9b2";
}
.icon_quote-center-filled:before {
  content: "\ea56";
}
.icon_receipts:before {
  content: "\e9d7";
}
.icon_refresh:before {
  content: "\e9d8";
}
.icon_refund:before {
  content: "\ea2a";
}
.icon_repeat:before {
  content: "\e9dc";
}
.icon_reply-all:before {
  content: "\e9dd";
}
.icon_reply_all:before {
  content: "\e9dd";
}
.icon_reply:before {
  content: "\e9de";
}
.icon_report-filled:before {
  content: "\ea57";
}
.icon_returns:before {
  content: "\e9df";
}
.icon_router:before {
  content: "\e9e0";
}
.icon_safari:before {
  content: "\ea68";
}
.icon_save:before {
  content: "\e9e3";
}
.icon_scan-gun:before {
  content: "\ea7a";
}
.icon_scan:before {
  content: "\e9e5";
}
.icon_search:before {
  content: "\e9e6";
}
.icon_security:before {
  content: "\e9e7";
}
.icon_send:before {
  content: "\e9e8";
}
.icon_sentiment-very-dissatisfied:before {
  content: "\ea0b";
}
.icon_very_dissatisfied:before {
  content: "\ea0b";
}
.icon_sentiment-dissatisfied:before {
  content: "\e958";
}
.icon_dissatisfied:before {
  content: "\e958";
}
.icon_sentiment-neutral:before {
  content: "\e9b7";
}
.icon_neutral:before {
  content: "\e9b7";
}
.icon_sentiment-satisfied:before {
  content: "\e9e2";
}
.icon_satisfied:before {
  content: "\e9e2";
}
.icon_sentiment-very-satisfied:before {
  content: "\ea0c";
}
.icon_very_satisfied:before {
  content: "\ea0c";
}
.icon_shelf-credit:before {
  content: "\ea2c";
}
.icon_shelf_credit:before {
  content: "\ea2c";
}
.icon_shipping:before {
  content: "\e9eb";
}
.icon_shopping-cart-reorder:before {
  content: "\ea25";
}
.icon_cart_reorder:before {
  content: "\ea25";
}
.icon_shopping-cart-filled:before {
  content: "\ea58";
}
.icon_shopping-cart-outlined:before {
  content: "\e9a7";
}
.icon_nav_esvs:before {
  content: "\e9a7";
}
.icon_shopping-cart-add:before {
  content: "\e904";
}
.icon_add_cart:before {
  content: "\e904";
}
.icon_shopping-cart-remove:before {
  content: "\e9db";
}
.icon_remove_cart:before {
  content: "\e9db";
}
.icon_shopping-cart:before {
  content: "\e934";
}
.icon_cart:before {
  content: "\e934";
}
.icon_slack:before {
  content: "\ea6b";
}
.icon_sort:before {
  content: "\e9f0";
}
.icon_star-circle-filled:before {
  content: "\e9f1";
}
.icon_star_circle_full:before {
  content: "\e9f1";
}
.icon_star-circle-outlined:before {
  content: "\e9f2";
}
.icon_star_circle_outline:before {
  content: "\e9f2";
}
.icon_star-filled:before {
  content: "\e9f5";
}
.icon_star:before {
  content: "\e9f5";
}
.icon_star-half-filled:before {
  content: "\e9f3";
}
.icon_star_half:before {
  content: "\e9f3";
}
.icon_star-outlined:before {
  content: "\e9f4";
}
.icon_star_outline:before {
  content: "\e9f4";
}
.icon_store-menu:before {
  content: "\ea2d";
}
.icon_support-outlined:before {
  content: "\ea69";
}
.icon_tablet-android:before {
  content: "\e9fb";
}
.icon_tablet_android:before {
  content: "\e9fb";
}
.icon_tablet-apple:before {
  content: "\e9fc";
}
.icon_television:before {
  content: "\e9fd";
}
.icon_thumb-down:before {
  content: "\e9fe";
}
.icon_thumb-up:before {
  content: "\e9ff";
}
.icon_time:before {
  content: "\ea00";
}
.icon_timer-off:before {
  content: "\ea02";
}
.icon_timer:before {
  content: "\ea03";
}
.icon_tool-drill:before {
  content: "\e95c";
}
.icon_tool_drill:before {
  content: "\e95c";
}
.icon_drill:before {
  content: "\e95c";
}
.icon_tool-hammer:before {
  content: "\e974";
}
.icon_tool_hammer:before {
  content: "\e974";
}
.icon_hammer:before {
  content: "\e974";
}
.icon_tool-handsaw:before {
  content: "\e975";
}
.icon_tool_handsaw:before {
  content: "\e975";
}
.icon_handsaw:before {
  content: "\e975";
}
.icon_tool-mower:before {
  content: "\e9a0";
}
.icon_tool_mower:before {
  content: "\e9a0";
}
.icon_mower:before {
  content: "\e9a0";
}
.icon_tool-paint-brush:before {
  content: "\e9ba";
}
.icon_tool_paint_brush:before {
  content: "\e9ba";
}
.icon_paint-brush:before {
  content: "\e9ba";
}
.icon_paint_brush:before {
  content: "\e9ba";
}
.icon_tool-paint-roller-filled:before {
  content: "\ea59";
}
.icon_tool-paint-roller-outlined:before {
  content: "\e9b0";
}
.icon_nav_pro_paint:before {
  content: "\e9b0";
}
.icon_tool-paint-roller:before {
  content: "\e9bb";
}
.icon_tool_paint_roller:before {
  content: "\e9bb";
}
.icon_paint-roller:before {
  content: "\e9bb";
}
.icon_paint_roller:before {
  content: "\e9bb";
}
.icon_tool-paint-selector:before {
  content: "\e9bc";
}
.icon_tool_paint_selector:before {
  content: "\e9bc";
}
.icon_paint-selector:before {
  content: "\e9bc";
}
.icon_paint_selector:before {
  content: "\e9bc";
}
.icon_tool-rental-outlined:before {
  content: "\e9b4";
}
.icon_nav_tool_rental:before {
  content: "\e9b4";
}
.icon_tool-rental-filled:before {
  content: "\ea5a";
}
.icon_tool-ruler:before {
  content: "\e9e1";
}
.icon_tool_ruler:before {
  content: "\e9e1";
}
.icon_ruler:before {
  content: "\e9e1";
}
.icon_tool-saw-blade:before {
  content: "\e9e4";
}
.icon_tool_saw_blade:before {
  content: "\e9e4";
}
.icon_saw-blade:before {
  content: "\e9e4";
}
.icon_saw_blade:before {
  content: "\e9e4";
}
.icon_tool-shovel:before {
  content: "\e9ed";
}
.icon_tool_shovel:before {
  content: "\e9ed";
}
.icon_shovel:before {
  content: "\e9ed";
}
.icon_tool-wrench:before {
  content: "\ea1c";
}
.icon_tool_wrench:before {
  content: "\ea1c";
}
.icon_wrench:before {
  content: "\ea1c";
}
.icon_toolbox-circle-filled:before {
  content: "\ea5b";
}
.icon_toolbox-circle-outlined:before {
  content: "\e9ad";
}
.icon_nav_my_projects:before {
  content: "\e9ad";
}
.icon_toolbox:before {
  content: "\ea5c";
}
.icon_top-30-outlined:before {
  content: "\ea20";
}
.icon_nav_top_30:before {
  content: "\ea20";
}
.icon_top-30-filled:before {
  content: "\ea5d";
}
.icon_touch-app:before {
  content: "\ea04";
}
.icon_touch_app:before {
  content: "\ea04";
}
.icon_touch-pad:before {
  content: "\ea30";
}
.icon_touch_pad:before {
  content: "\ea30";
}
.icon_delete:before {
  content: "\e951";
}
.icon_trash:before {
  content: "\e951";
}
.icon_truck-circle-filled:before {
  content: "\e9f8";
}
.icon_truck-circle-outlined:before {
  content: "\e9f9";
}
.icon_usb:before {
  content: "\ea09";
}
.icon_value-pricing-outlined:before {
  content: "\e9b5";
}
.icon_nav_vpp:before {
  content: "\e9b5";
}
.icon_value-pricing-filled:before {
  content: "\ea5e";
}
.icon_value-wheel:before {
  content: "\ea34";
}
.icon_value_wheel:before {
  content: "\ea34";
}
.icon_verified:before {
  content: "\ea0a";
}
.icon_video-camera:before {
  content: "\ea0d";
}
.icon_video-camera-add:before {
  content: "\ea5f";
}
.icon_video-camera-off:before {
  content: "\ea0e";
}
.icon_video-camera-switch:before {
  content: "\ea60";
}
.icon_view-grid:before {
  content: "\e971";
}
.icon_grid:before {
  content: "\e971";
}
.icon_view-list:before {
  content: "\e98d";
}
.icon_list:before {
  content: "\e98d";
}
.icon_visibility-off:before {
  content: "\ea10";
}
.icon_visibility_off:before {
  content: "\ea10";
}
.icon_visibility-on:before {
  content: "\ea11";
}
.icon_visibility:before {
  content: "\ea11";
}
.icon_volume-down:before {
  content: "\ea12";
}
.icon_volume-mute:before {
  content: "\ea13";
}
.icon_volume-off:before {
  content: "\ea14";
}
.icon_volume-up:before {
  content: "\ea15";
}
.icon_warning_filled:before {
  content: "\ea16";
}
.icon_warning_full:before {
  content: "\ea16";
}
.icon_warning-outlined:before {
  content: "\e906";
}
.icon_warning:before {
  content: "\e906";
}
.icon_watch:before {
  content: "\ea19";
}
.icon_web:before {
  content: "\ea1a";
}
.icon_wifi:before {
  content: "\ea1b";
}
.icon_windows:before {
  content: "\ea6a";
}
